.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calculatingText {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
